.g-container {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - #{rem(80)} * 2);

  @include breakpoint-max($desktop-width) {
    max-width: calc(100% - #{rem(80 / 2)} * 2);
  }

  @include breakpoint-max($tablet-width) {
    max-width: calc(100% - #{rem(16)} * 2);
  }
}
